@using GameStore.Service.DTOs.Games;
@model IEnumerable<GameResultDto>
@{
    ViewData["Title"] = "Home";
}

<br />
<div class="float-end">
    @using (Html.BeginForm())
    {
        <p class="text-white">
            &#128269 @Html.TextBox("search")
            @* <input type="submit" value="Search" /> *@
        </p>
    }
</div>
<div class="clr"></div>
<a href="games/create" class="btn btn-success float-end">Add Game</a>
<br />

<div class="clr"></div>

@foreach (var item in Model)
{
    <div class="card text-white bg-dark border-0 box" style="width: 27rem;">
        @if (item.Image != null)
        {
            <div class="image-container">
                <a href="games/details/@item.Id"><img class="card-img-top" src="Images/@item.Image.FileName" alt="Game image cap"></a>
            </div>
        }
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="text-price lead">$@item.Price</p>
                </div>
                <div class="col">
                    <h3></h3>
                </div>
                <div class="col">
                    <h3></h3>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success">BUY</a>
                </div>
            </div>
            <div class="row">
                @foreach (var genre in @item.Genres)
                {
                    <div class="col">
                        <p class="card-text">@genre.Name</p>
                    </div>
                }
                <h6 class="">@item.Name</h6>
            </div>
        </div>
    </div>
}

<div class="clr"></div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Add custom validation rules
            $.validator.addMethod("minlength", function (value, element, param) {
                return value.length >= param;
            });

            // Set the validation rules for the search input field
            $("#search").rules("add", {
                required: true,
                minlength: 3, // Minimum length required
                messages: {
                    required: "Please enter a search term.",
                    minlength: "Search term must be at least 3 characters."
                }
            });
        });
    </script>
}