@using GameStore.Service.DTOs.Games;
@model IEnumerable<GameResultDto>
@{
    ViewData["Title"] = "Home Page";
}

<br />

@foreach (var item in Model)
{
    <div class="card text-white bg-dark border-0 box" style="width: 27rem;">
        <div class="image-container">
            <img class="card-img-top" src="Images/@item.Image.FileName" alt="Game image cap">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="text-price lead">$@item.Price</p>
                </div>
                <div class="col">
                    <h3></h3>
                </div>
                <div class="col">
                    <h3></h3>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success">BUY</a>
                </div>
            </div>
            <div class="row">
                @foreach (var genre in @item.Genres)
                {
                    <div class="col">
                        <p class="card-text">@genre.Name</p>
                    </div>
                }
                <h6 class="">@item.Name</h6>
            </div>
            <a asp-controller="Games" asp-action="Details" asp-route-id="@item?.Id">Detail</a> |
        </div>
    </div>
}

<div class="clr"></div>