@using GameStore.Service.DTOs.Files;
@model SingleFile

@{
    var user = ViewBag.User;
}

@{
    ViewData["Title"] = "upload avatar";
}


<div class="card w-450px h-400px mb-100 " style="margin-left:auto; margin-right:auto; box-shadow: 0px 0px 15px gray; background-color: #D3D3D3">
    <form asp-controller="users" asp-action="uploadavatar" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <section id="testimonials">
            <div class="container">
                <h4 class="text-center">Upload avatar</h4>
                <div class="form-group">
                    <div class="testimonial">
                        <div class="avatar-wrapper">
                            @if (user.Image is not null)
                            {
                                <img class="profile-pic" src="../../Images/@user.Image.FileName.ToString()" />
                            }
                            else
                            {
                                <img class="profile-pic" src="../wwwroot/static-images/default.jpg" />
                            }
                            <div class="upload-button">
                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                            </div>
                            <input class="file-upload" type="file" name="File" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                        <h3 class="text-center">@user.FirstName @user.LastName</h3>
                        <h6 class="text-center">@user.Email</h6>
                        <h6 class="text-center">@@<span>@user.Username</span></h6>
                        <br />
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-primary" id="saveButton" />
                            <span id="imageError" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </form>
</div>

<script>
    $(document).ready(function () {

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });

        $("#saveButton").on('click', function (e) {
            if ($(".file-upload")[0].files.length === 0) {
                e.preventDefault(); 
                $("#imageError").text("Image is not uploaded.");
            } else {
                $("#imageError").text("");
            }
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}