@using GameStore.Service.DTOs.Accounts;
@model AccountRegisterDto

@{
    Layout = "_AccountsLayout";
}


<div>
    <br /><br /><br /><br />
</div>
<div class="card w-450px h-530px mt-20 mb-100 " style="margin-left:auto; margin-right:auto; box-shadow: 0px 0px 15px gray; background-color: #D3D3D3">
    <!--begin::Form-->
    <form asp-controller="accounts" asp-action="register" class="container h-auto">
        <!--begin::Heading-->
        <div class="text-center mb-11">
            <br />
            <p class="fs-4 fw-bolder mb-3">
                Please register
            </p>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert-danger">
                    <p>
                        @Html.ValidationSummary()
                    </p>
                </div>
            }
        </div>
        <div class="mt-2">
            <input type="text" asp-for=FirstName placeholder="First Name" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <input type="text" asp-for="LastName" placeholder="Last Name" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <input type="text" asp-for=Username placeholder="Username" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <input type="email" asp-for="Email" placeholder="Email" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!--begin::Input group-->
        <div class="mt-2" data-kt-password-meter="true">
            <!--begin::Wrapper-->
            <div class="mb-1">
                <!--begin::Input wrapper-->
                <div class="position-relative mb-3">
                    <input class="form-control bg-transparent" asp-for=Password type="password" placeholder="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                        <i class="bi bi-eye-slash fs-2"></i>
                        <i class="bi bi-eye fs-2 d-none"></i>
                    </span>
                </div>
                <!--end::Input wrapper-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Input group--->
        <div class="d-grid mb-8">
            <button type="submit" id="kt_sign_up_submit" class="btn btn-registan">
                <span class="indicator-label">
                    Register
                </span>
            </button>
        </div>
        <div class="d-grid mb-10">
            <a asp-controller="home" asp-action="index" class="btn btn-secondary">
                <span class="indicator-label">
                    Close
                </span>
            </a>
        </div>
    </form>
    <!--end::Form-->
</div>